@LINE_COLOR: #453048;
@TEXT_COLOR: #D9E2D8;
@BG_COLOR: #d9e2d8;
@CASH_COLOR: #a1dcef;
@GRAY_TEXT_COLOR: #404040;
@POINTS_COLOR : #FBFF9D;
@LINE_FADE_COLOR: rgba(69,48,72,0.7);
@REWARD_BG_COLOR: #F3EEA8;
@LEVEL_MENU_BG_COLOR: #ecefeb;
@MULTIPLIER_COLOR: white;
@SETTINGS_HEADER_BG_COLOR: #949494;


#overlay {
  color: @TEXT_COLOR;
  
  .fade {
    background: @BG_COLOR;
  }
  
  .pause-button {
    &:hover, &:active {
      .bar {

        &.left {
          border-left: 8em solid white;
        }
        
        &.right {
          border-left: 8em solid rgba(0, 0, 0, 0.5);
        }
      }
    }
    
    .bar {
      background: white;
      box-shadow: 0.5em 0.5em 0em 0em rgba(0, 0, 0, 0.5);
    }
  }
  
  .button.all{
    color: #8c8c8c;
    &:hover {
      color: black;
    }
  }
  
  .button.easy {
    color: #a6f29e;
  }
  
  .button.intermediate {
    color: #edec71;
  }
  
  .button.advanced {
    color: #f3cb67;
  }
  
  .button.insane {
    color: #ed7171;
  }
  
  .button {
    color: white;
    background: @LINE_COLOR;
  }
  
  .button:hover {
    background: @LINE_FADE_COLOR;
  }
    
  
  
  #shop {
    .shop-list {      
      .shop-item {
        .info {
          .use-avatar {
            color: @POINTS_COLOR;
          }
          
          .purchase-points {            
            .pointpurchase {
              color: @POINTS_COLOR;
            }
            
            .pointprice {
              background: @LINE_FADE_COLOR;
              color: @POINTS_COLOR;
            }
          }
          
          .purchase-cash {

            .cashpurchase {
              color: @CASH_COLOR;
            }
            .cashprice {
              background: @LINE_FADE_COLOR;
              color: @CASH_COLOR; 
            }
          }
        }
        
        .costs {
      
          .point-cost {
            color: @POINTS_COLOR;
           }
        
          .cash-cost {
            color: @CASH_COLOR;
            }
        }
      }
    }
  }
  
  #settings {
    color: @GRAY_TEXT_COLOR;
    
    .header {
      color: @BG_COLOR;
      background: ;
    }
  }
  
  #multiplier {
    .display {
      color: @MULTIPLIER_COLOR;
      text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.1); 
    }
    
    .factor-list {
      color: @GRAY_TEXT_COLOR;
    }
  }
  
 
  
  #level-menu {
    background: @LEVEL_MENU_BG_COLOR;    
  }
  
  .line {
    color: @BG_COLOR;
    
    .reward-bar {
      background: @REWARD_BG_COLOR;
      color: @LINE_COLOR;
    }
    
    .reward-text {
      color: @LINE_COLOR;
    }
   
  
    .line-section {
      background: @LINE_COLOR;
    
      &.ad {
        color: @POINTS_COLOR;
      }
      
      &.basic {
        background: @LINE_FADE_COLOR;
      }
           
      &.leveldisplay {        
        &:hover {
          background: @LINE_FADE_COLOR;
        }
      }
    }
    
    #gimbles {
      color: @POINTS_COLOR;
    }
  }
}