@DEFAULT_PURPLE: #453048;
@LINE_COLOR: #453048;
@TEXT_COLOR: #D9E2D8;
@POINTS_COLOR: @DEFAULT_PURPLE;

@CHECKOUT_LINE_TEXT_COLOR: #45acd8;
@CHECKOUT_LINE_COUNT_COLOR: #45acd8;

@LINE_FADE_COLOR_DEFAULT: rgba(69,48,72,0.7);
@LINE_FADE_COLOR: rgba(228,222,55,0.7); /* CONVERT LINE_COLOR TO RGB, KEEP AT .7 */

@REWARD_LINE_BG_COLOR: #F3EEA8;
@REWARD_LINE_TEXT_COLOR: #000;

@RECORD_GREEN: #0f0;
@RECORD_RED: #f00;

@LEVEL_MENU_BG_COLOR: rgba(75, 75, 75, 0.5);
@LEVEL_MENU_TEXT_COLOR: #fff;

@MULTIPLIER_TEXT_COLOR: #fff;

@SETTINGS_HEADER_BG_COLOR: #949494; /* PROBS DON'T NEED TO CHANGE */
@SETTINGS_OPTIONS_TEXT_COLOR: #ececec;

@TEXT_HIGHLIGHT_COLOR: #b098b3;

::selection {
  background: @TEXT_HIGHLIGHT_COLOR;
}
::-moz-selection {
  background: @TEXT_HIGHLIGHT_COLOR;
}

/* Login Menu */ 
#menu {
	#logo {
		/* Define Avatar Logo */
	}
	.menu-content {
		.footer {
			a:visited, a:link {
				color: @DEFAULT_PURPLE;
				font-weight: bold;
			}
		}
	}
} 

/* Pause and Shop Overlays */
#overlay {

  .level-star {
    color: @LEVEL_MENU_TEXT_COLOR;
  }
	.line {
		&.gimbles, &.levels {
			.button {
				background: @LINE_COLOR;
				color: @POINTS_COLOR;
				&:hover {
					background: @LINE_FADE_COLOR;
				}
			}
			.line-section {
				background: @LINE_COLOR;
				color: @TEXT_COLOR;
				&.leveldisplay:hover {
					background: @LINE_FADE_COLOR;
				}
			}
			#cart-count {
				color: @CHECKOUT_LINE_COUNT_COLOR;
			}
		}
		.reward-bar {
			background: @REWARD_LINE_BG_COLOR;
			color: @REWARD_LINE_TEXT_COLOR;
		}
		.reward-text {
			color: @REWARD_LINE_TEXT_COLOR;
		}
		#gimbles {
			color: @POINTS_COLOR;
		}
	}
	.line.gimbles .tasks .line-section{
		.current {
			color: @RECORD_RED;
			&.ahead {
				color: @RECORD_GREEN;
			}
		}
  }
	#level-menu {
		color: @LEVEL_MENU_TEXT_COLOR;
		background: @LEVEL_MENU_BG_COLOR;
	}
	#multiplier {
		.display, .factor-list {
			color: @MULTIPLIER_TEXT_COLOR;
		}
	}
	#settings {
		color: @SETTINGS_OPTIONS_TEXT_COLOR;
		.options { 
			.option.selected { 
				color: @LEVEL_MENU_TEXT_COLOR;
			}
		}
	}
	#shop {
		.line {
			.shop-section {
				background: @LEVEL_MENU_BG_COLOR;
				.button {
					font-weight: bold;
					&:hover {
						background: @LINE_FADE_COLOR_DEFAULT;
					}
				}
				.avatar, .levels {
					/*border: 1px dotted @DEFAULT_PURPLE;*/
				}
			}
		}
	}
}

