doctype html
html
  head
    title=404
    block styles
      link(href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css')
    block scripts
  body(style='background: #fef4d0')
    .text(style="width: 100%; text-align: center; margin-top: 2em; color: #3b3328; font-size: 3em; font-family: 'Parisienne', cursive") 
      .doodle(style="font-size: 4em; line-height: 120%;") 404
      .text ceci n'est pas une page.