extends layout

block styles
  
block scripts			
  script(src='/javascripts/libs/jquery-1.9.0.min.js')
  script(src='/javascripts/libs/underscore-min.js')
  script(src='/javascripts/libs/backbone-min.js')
  script(src='javascripts/libs/handlebars.js')
 
block content  
  form.fields(style="font-size: 200%")
    input#refresh(type="button" value="Refresh Content" style='width:200px; height:50px')
    br
    textarea#refresh-response
    br
    input#minify(type="button" value="Minify JS" style='background: #fdd; width:200px; height:50px')
    br
    input#dumpsql(type="button" value="Dump SQL to disk" style='background: #ddf; width:200px; height:50px')
    br
    input#getdump(type="button" value="Download sql dump" style='background: #dfd; width:200px; height:50px')

  script.
    $(function() {
      var responseHandler = function(response) {
        $('#refresh-response').html(JSON.stringify(response));
      }
        
      $('#refresh').click(function(){
        $.ajax({
          url: '/content/refresh', 
          data: {},
          success: responseHandler,
          method: 'get'
        });
      });      
      
      $('#minify').click(function(){
        $.ajax({
          url: '/content/minify', 
          data: {},
          success: responseHandler,
          method: 'get'
        });
        
      });      
      
      $('#dumpsql').click(function() {
        $.ajax({
          url: '/admin/dumpsql',
          data: {},
          success: responseHandler,
          method: 'get'
        });
      });
      
      $('#getdump').click(function() {
        window.location = '/admin/getdump';
      });
      
      /*
      $('.status').change(function() {
        if (this.checked) {
          var getRefresh = function(response) {
            $('#refresh-response').html(JSON.stringify(response));
          }
          
          $.ajax({
            url: '/change/status', 
            data: {status: this.value},
            success: getRefresh,
            method: 'get'
          });
        }
      });
      */
    });
