script(id='avatarVertexShader' type='x-shader/x-vertex').
  //varying highp vec2 newUV;
  varying highp vec3 lightDir;
  varying highp vec3 modelPos;
  varying highp vec4 eyePos;
  varying highp vec3 norm;
  
  void main() {
    //newUV = uv;
    modelPos = position;
    highp vec4 worldPos = modelMatrix * vec4(position,1.0);
    eyePos = viewMatrix * worldPos;
    lightDir = normalize((viewMatrix * vec4(0.2, 1.0, 0.2, 0.0)).xyz);  
    gl_Position = projectionMatrix * eyePos; 
    norm = normalize(normalMatrix * normal);
  }

script(id='avatarFragmentShader' type='x-shader/x-fragment').
  //varying highp vec2 newUV;
  varying highp vec3 lightDir;
  varying highp vec4 eyePos;
  varying highp vec3 norm;
  varying highp vec3 modelPos;
  
  uniform sampler2D tex;
  uniform lowp vec3 color;
  uniform highp float gloss;
  uniform lowp vec3 specularColor;
  uniform lowp vec3 backfaceColor;
  uniform lowp float ambient;
  uniform lowp float dissolve;
  uniform lowp float opacity;
  uniform highp float aliasScale;


  float rand(vec3 co){
    return fract(sin(dot(co ,vec3(12.9898, 78.233, 453.3178))) * 43758.5453);
  }
  
  void main() {
    
    lowp float amb = ambient;
    
    lowp float diffuse = dot(norm, lightDir) * (1.0-amb) + amb;
    lowp float specular = dot(reflect(normalize(eyePos.xyz * -1.0), norm), lightDir * -1.0);
    
    specular = pow(max(0.0, specular), gloss);
    
    
    //specular = floor(specular * 8.0) / 7.0;
    //diffuse = floor(diffuse * 7.0) / 7.0;
    
    
    lowp vec3 specularResult = specularColor * specular;

    
    lowp vec3 newColor = vec3(0.4196, 0.61568, 0.7372);
    newColor = color;
    
    /*
    #ifdef USE_MAP
      newColor = texture2D(tex, newUV).rgb;
    #endif
    */
    
    
    if (gloss > 0.0) {
      gl_FragColor = vec4(newColor * (diffuse) + specularResult, opacity);
    } else {
      gl_FragColor = vec4(newColor * (diffuse), opacity);
    }
    
    if (dissolve > 0.0) {
      lowp float delete = rand(modelPos);
      
      if (delete < dissolve) {
        discard;
      }
    }
  }
  
