script(id='cloudVertexShader' type='x-shader/x-vertex').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec4 eyePos;
  varying highp vec2 center;
  uniform highp float scale;
  
  void main() {
    newUV = uv;
    worldPos = modelMatrix * vec4(position,1.0);
    eyePos = viewMatrix * worldPos;
    gl_Position = projectionMatrix * eyePos; 
    gl_PointSize = scale / length(eyePos.xyz);
  }
 

script(id='cloudFragmentShader' type='x-shader/x-fragment').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec4 eyePos;

  void main() {
    lowp float alpha = max(0.0, (0.5 - length(gl_PointCoord - vec2(0.5, 0.5))) * 2.0);
    highp vec2 coord = gl_PointCoord - vec2(0.5, 0.5);
    //lowp float alpha = (1.0 - (abs(coord.x) + abs(coord.y)));
    //lowp float alpha = 0.2;
    
    lowp float scale = 1.0;
    //lowp vec3 color = vec3(0.95, 0.98, 1.0) * (0.87 + (1.0-gl_PointCoord.y) * 0.13);
    lowp vec3 color = vec3(0.89, 0.96, 0.97) * (0.87 + (1.0-gl_PointCoord.y) * 0.13);
    gl_FragColor = vec4(color, alpha);
  }
  
script(id='particleVertexShader' type='x-shader/x-vertex').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec4 eyePos;
  varying highp vec2 center;
  uniform highp float scale;
  uniform highp vec3 playerPos;
  varying highp float playerDist;

  void main() {
    newUV = uv;
    worldPos = modelMatrix * vec4(position,1.0);
    eyePos = viewMatrix * worldPos;
    gl_Position = projectionMatrix * eyePos; 
    playerDist = length(worldPos.xyz - playerPos);
    gl_PointSize = scale / length(eyePos.xyz) * max(0.0, 1.0 - playerDist);
    //gl_PointSize = 1.0;
  }
  
script(id='particleFragmentShader' type='x-shader/x-vertex').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec4 eyePos;
  uniform highp vec3 playerPos;
  varying highp float playerDist;

  void main() {
    lowp float alpha = max(0.0, (0.5 - length(gl_PointCoord - vec2(0.5, 0.5))) * 2.0);
    highp vec2 coord = gl_PointCoord - vec2(0.5, 0.5);
    //lowp float alpha = (1.0 - (abs(coord.x) + abs(coord.y)));
    //lowp float alpha = 0.2;
    
    lowp float scale = max(0.0, 0.4 * (1.0 - playerDist));
    lowp vec3 color = vec3(0.31, 0.97, 0.29) * (0.87 + (1.0-gl_PointCoord.y) * 0.13) * scale;
    gl_FragColor = vec4(color, 1.0);
    //gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
    
    if (alpha <= 0.0) {
      discard;
    }
  }
