extends index

block run
  script(src='javascripts/player/editor.js')
  script.
    WB = {};
    $(window).load(function() {
      WB = {};
      Overlay(WB);
      Puzzle(WB);
      Camera(WB);
      AvatarEffects(WB);
      Visuals(WB);
      Editor(WB);
      
      WB.menu = new WB.Menu({el: $('#view'), content: {}});
    });