extends layout

block styles
  link(rel="icon" href="images/favicon.png" type="image/png")
  link(rel="shortcut icon" href="images/favicon.png" type="image/png")
  link(rel='stylesheet', href='/stylesheets/player-page.css')
  meta(charset="UTF-8")
  meta(name="description" content="A 3D pathfinding puzzle game you can play free on your desktop or mobile browser.")
  meta(name="title" content="roTopo")
  meta(name="keywords" content="rotopo, gimbles, gimble, game, games, web game, online game, free game, free online game, video game, videogame, puzzle, bark and fester, bknfr, html5, flash, games for children, games for kids")
  meta(name="author" content="Bark and Fester")
  |<meta property="og:image" content="images/rotopo-og.png"/>
  |<meta property="og:author" content="Bark and Fester"/>
  |<meta property="og:title" content="roTopo"/>
  |<meta property="og:url" content="https://rotopo.com"/>
  |<meta property="og:description" content="A 3D pathfinding puzzle game you can play free on your desktop or mobile browser."/>

block scripts
  - if (mode == "develop") {
  script.
    window.onerror = function(error, url, line) {
      
      $('#view').remove();
      $('body').append(error + " : " +  url + " : " + line + "<br>");
      
    };
  -}
  include tile_shader.jade
  include avatar_shader.jade
  include ocean_shader.jade
  include cloud_shader.jade
  
block content  
  script(name="level-menu" class="hbs-template" type="text/x-handlebars-template")
    .selectors
      .selector.button.easy(tag="easy") easy
      .selector.button.intermediate(tag="intermediate") intermediate
      .selector.button.advanced(tag="advanced") advanced
      .selector.button.insane(tag="insane") insane
      br
      .selector.button.all(tag="all") all
      .selector.button(tag="solved") solved
      .selector.button(tag="unsolved") unfinished
    .levels
 
  script(name="levels" class="hbs-template" type="text/x-handlebars-template")
    .levels-container
      | {{#each levels}}
      .level-entry
        .preview(index="{{level_id}}", title='view more info') i
        .level(index="{{level_id}}") {{directory}}//{{name}} {{#solved this}} {{/solved}}
      | {{/each}}
      .button.shop get more levels
    
  script(name="factor-list" class="hbs-template" type="text/x-handlebars-template")
    |{{#each factors}}
    |{{#if this}}
    .factor {{reason}}{{#time-left this}}{{/time-left}} <b>{{{symbol}}}{{decimal factor}}</b>
    |{{/if}}
    |{{/each}}
    
  script(name="overlay" class="hbs-template" type="text/x-handlebars-template")
    .fade
    .pause-button
      .bar.left
      .bar.right
    
    .game.line.gimbles 
      .line-section.gimble-count you have <span id="gimbles">0</span> gimbles
      .button.shop.italic spend!
      br
      .reward-bar
      .reward-text
      .tasks.condensed
        .line-section.task.time-record 
          span time record: 
          span.current.time 0:00
          span.record-time /-:-
        br
        .line-section.task.retry-record
          span retry record: 
          span.current.retries 0
          span.record-retries /-
        br
        .line-section.task.turn-record
          span turn record: 
          span.current.turns 0
          span.record-turns /-
        br
        .line-section.badges badges
        .button.badges.italic view!
      
    .game.line.levels
      .button.restart.icon(title='restart current level-pack from first level') &#x21bb;
      .button.shuffle.icon(title='play next level-pack in shuffle list') shuffle
      .line-section.leveldisplay roTopo//
    #level-menu(style="display:none")
    #multiplier
      .display
        span.x-symbol &times;
        span.number 1.00
      .factor-list
      
    #settings
      .header SETTINGS
      .settings-list
        |{{> game-settings}}
        
  script(name="settings-list"  class = "hbs-template" type="text/x-handlebars-template") 
    .setting
      span.label anti-aliasing: 
      .options(name="antialiasing")
        span.option.low low
        |/
        span.option.med med
        |/
        span.option.hi hi
        |/
        span.option.retro retro
    .setting
      span.label music: 
      .options(name="music")
        span.option.on on
        |/
        span.option.off off
    .setting 
      span.label camera scheme: 
      .options(name="camera")
        span.option.auto auto
        |/
        span.option.follow follow
    .setting 
      span.label controls: 
      .options(name="controls")
        span.option.default default
        |/
        span.option.inverted inverted
    .setting 
      span.label fullscreen: 
      .options(name="fullscreen")
        span.option.on on
        |/
        span.option.off off

    .footer
      .button.italic.menu-return return to menu
      br
      .button.italic.read-manual read the manual
      br
      .button.italic.contact-us send us a message
      .setting &copy; bark and fester llc
      .setting 
        a(href = "legal/tos.txt" target="_blank") terms
        | //
        a(href = "legal/policy.txt" target="_blank") privacy
  
    
  script(name="avatar-items" class = "hbs-template" type="text/x-handlebars-template") 
    |{{#each avatars}}
    .shop-item.avatar(style="background-image: url('{{img}}')" item_id="{{item_id}}")
      .costs
        .point-cost {{point_price}}
        |{{#cashPurchase this}}
        .cash-cost {{#cash cash_price}}{{/cash}}
        |{{else}}
        .cash-cost in cart!
        |{{/cashPurchase}}
      .info
        .preview(title='view more info') info			
        .line-section.basic.name.descrip {{name}}
        br
        .line-section.basic.difficulty.descrip(class="{{difficulty}}") {{difficulty}}
        br
        br
        |{{#ifPurchased this}}
        .button.use-avatar(item_id="{{item_id}}", name="{{name}}") use avatar
        |{{else}}
        |{{#if point_price}}
        .purchase-points(item_id="{{item_id}}")
          .button.pointpurchase purchase
          .button.pointprice for {{point_price}}
        |{{/if}} 
        |{{#cashPurchase this}}
        .purchase-cash(item_id="{{item_id}}")
          .button.cashpurchase purchase
          .button.cashprice for {{#cash cash_price}}{{/cash}}
        |{{else}}
        .purchase-cash
          .button.cart-checkout in cart!
        |{{/cashPurchase}}
        |{{/ifPurchased}}
    |{{/each}}  
    .shop-list-spacer
    
  script(name="level-items" class="hbs-template" type="text/x-handlebars-template")
    |{{#each level_packs}}
    .shop-item.levels(style="background-image: url('{{#if img}}{{img}}{{else}}/images/shop/levels/default.jpg{{/if}}')" item_id="{{item_id}}")
      |{{#if premium}}
      img.premium-star(src="/images/shop/star.png")
      |{{/if}}
      .costs
        .point-cost {{point_price}}
        |{{#cashPurchase this}}
        .cash-cost {{#cash cash_price}}{{/cash}}
        |{{else}}
        .cash-cost in cart!
        |{{/cashPurchase}}
      .info
        .preview(title='view more info') info
        .line-section.basic.name.descrip {{name}}({{numPuzzles}})
        br
        .line-section.basic.difficulty.descrip(class="{{difficulty}}") {{difficulty}}
        br
        br
        |{{#ifPurchased this}}
        .button.play-level(level_id="{{level_id}}") play now
        |{{else}}
        |{{#if point_price}}
        .purchase-points(item_id="{{item_id}}")
          .button.pointpurchase purchase
          .button.pointprice for {{point_price}}
        |{{/if}} 
        |{{#cashPurchase this}}
        .purchase-cash(item_id="{{item_id}}")
          .button.cashpurchase purchase
          .button.cashprice for {{#cash cash_price}}{{/cash}}
        |{{else}}
        .purchase-cash
          .button.cart-checkout in cart!
        |{{/cashPurchase}}
        |{{/ifPurchased}}
    |{{/each}}
    .shop-list-spacer

  script(name="item-description" class="hbs-template" type="text/x-handlebars-template")
    .box.description
      |{{#if video}}
      span.ad-bonus-field
        |Multiplier bonus 
        span.ad-bonus-counter after watching preview.
      .video.
        <iframe id="yt-player" class="youtube" width="1280" height="720" src="https://www.youtube.com/embed/{{video}}?controls=1&autoplay=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
      |{{else}}
      img(class="video" src="/images/vid_placeholder.png")
      |{{/if}}
      .text 
        .name 
          span {{name}}
          |{{#if numPuzzles}}
          .num-puzzles ({{numPuzzles}} levels)
          |{{/if}}
        |{{#if multiplier}}
        .multiplier multiplier: <b> +{{multiplier}} </b>
        |{{/if}}
        |{{#if speed}}
        .speed speed: <b> {{speed}} </b>
        |{{/if}}
        |{{#if mod}}
        .mod mod: <b> {{mod}} </b>
        |{{/if}}
        .description {{{description}}}
        |{{#if source}}
        .source -{{source}}
        |{{/if}}
        br
      
      |{{#ifPurchased this}}
      .empty
      |{{else}}
      |{{#if point_price}}
      .button.pointpurchase(item_id="{{item_id}}") purchase for {{point_price}} gimbles 
      |{{/if}}
      |{{#if cash_price}}
      .button.cashpurchase(item_id="{{item_id}}") add to cart for {{#cash cash_price}}{{/cash}}
      |{{/if}}
      |{{/ifPurchased}}
      .button.back << go back
      |{{> bknfr-footer}}   
      
  script(name="checkout-review" class="hbs-template" type="text/x-handlebars-template")
    .cart-review-boxes
      .box.cart-review
        .header REVIEW
        .item-list
          .items
            |{{#each items}}
            .cart-item
              .remove(item_id="{{item_id}}") remove
              .cost {{#cash cash_price}}{{/cash}}
              .name {{directory}}/{{name}}
            |{{/each}}
            |{{#if fee}}
            .cart-item
              .spacer
              .cost {{#cash fee}}{{/cash}}
              .name processing fee*
            |{{/if}}  
        .total 
          |YOUR 
          span.blue TOTAL 
          |IS 
          span.blue {{#cash totalPrice}}{{/cash}}
        |{{#if fee}}
        .info *processing fee waived on purchases above $1
        |{{/if}}
  script(name="checkout-box" class="hbs-template" type="text/x-handlebars-template")
    .checkout-area
      .box.cart-checkout
        .header PAY
        form.checkout-form
          #braintree-area
          input(type="submit" value="pay {{#cash totalPrice}}{{/cash}}" class="button submit")
          .button.back continue shopping
          .info
            |Payments processed <a target="_blank" href="https://www.braintreepayments.com/developers/security">securely</a> by <a target="_blank" href="http://braintreepayments.com">Braintree</a>, a PayPal company. roTopo does not see or store your payment information. 
            br
            |Learn more on our 
            a(href = "legal/tos.txt" target="_blank") terms of service.

  script(name="overlay-shop" class="hbs-template" type="text/x-handlebars-template")
    .checker-bg
    #shop
      .line(style="max-height: calc(100% - 6em);")
        .shop-section.levels
          .line-section(style="display:inline-block;") level-packs
          .subline.selectors
            .button.all(tag="all") all >
            .button.easy(tag="easy") easy
            .button.intermediate(tag="intermediate") intermediate
            .button.advanced(tag="advanced") advanced
            .button.insane(tag="insane") insane
          .shop-list
        .shop-section.avatars
          .line-section(style="display:inline-block;") avatars
          .subline.selectors
            .button.all(tag="all") all >
            .button.purchased(tag="purchased") purchased
            .button.locked(tag="locked") for sale
          .shop-list 
          
    .shop.line.gimbles 
      .line-section you have <span id="gimbles">0</span> gimbles
      .button.back.italic << go back
      #line-cart(style="display:inline")
        .line-section.plain and <span id="cart-count">0</span> items in your cart.
        .button.cart-checkout.italic checkout!
      
      //.line-section.button.italic.ad Watch a video for a better multiplier.
    
    .shop.line.levels
      .button.back.italic << go back
      .line-section roTopo//shop
    .fade
  
  script(name="tutorial-0" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.pause
      .info
        |Hello! I've paused the game to tell you that I think you're doing great.
        br
        br        
        |<span style="font-style:italic">You</span> can also pause the game whenever by hitting the <span style="font-weight:bold">[spacebar]</span> or by <span style="font-weight:bold">double-tapping</span>.
        br
        br
        |While we're here, let's take a quick tour.
      .button.next next >>
      .button.ok skip tutorial
  
  script(name="tutorial-1" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.levels
      .info
        |Below, you can change the level you're playing.
        br
        br
        |Click the 
        span.mock-button &#x21bb;
        |  button <span style="font-weight:bold">[backspace]</span> to restart the current level-pack from the first level. 
        br
        br
        |Click the 
        span.mock-button shuffle
        |  button <span style="font-weight:bold">[tab]</span> to play a different level-pack.
        br
        br
        |Click the current level name to open the level menu.
      .button.next next >>
      .button.ok skip tutorial
  
  script(name="tutorial-2" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.level-menu
      .info
        |Above is your level menu, where you can view and play your level-packs.
        |Click any level-pack to start playing it. A star indicates you've already beaten it.
        br
        br
        |Up top are selectors used to filter level-packs by category. 
        |Only the listed packs will be shuffled through (either when you complete a pack or when the  
        span.mock-button shuffle
        |  button is pressed) until a different filter is selected.
        br
        br
        |Click the 
        span.mock-button i
        |  next to a pack to reveal its video preview and the records you've set for it.
      .button.next next >>
      .button.ok skip tutorial
      
  script(name="tutorial-3" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.multiplier
      .info
        |All the way up here is your gimble multiplier. 
        |The higher this number, the more gimbles you earn when you beat a level.
        |There are a bunch of ways to increase the multiplier:
        br
        br
        li Complete levels without dying lots.
        li Play a level you haven't beaten yet.
        li Play with a different avatar from the shop.
        li Watch preview videos of levels or avatars for a temporary bonus.
        li Login for a temporary, daily bonus.
      .button.next next >>
      .button.ok skip tutorial
      
  script(name="tutorial-4" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.records
      .info
        |Here you can keep track of records you've set for the current level-pack.
        br
        br
        li <b>Time record:</b> How long the entire pack took to beat.
        li <b>Retry record:</b> How many times you died.
        li <b>Turn record:</b> How many times you changed direction.
        br
        |Below these records, you can 
        span.mock-button view!
        |  your badges page, where I keep track of your completed levels, your records set, and your owned avatars.
      .button.next next >>
      .button.ok skip tutorial
  
  script(name="tutorial-5" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.spend
      .info
        |Almost done. Up here is how many gimbles you've earned.
        |Next to that is the 
        .span.mock-button spend!
        |  button, which takes you to the shop where you can spend your gimbles on new level-packs and avatars.
      .button.shop go to shop >>
      .button.ok skip tutorial
 
  script(name="tutorial-6" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.tutorial.shop
      .info
        |Here in the shop, you can buy more challenging level-packs and avatars with special abilities and themes.
        br
        br
        |Hover over (or tap) any item to view its name and difficulty. Click the 
        .span.mock-button info
        |  button for even more information as well as video previews.
        br
        br
        |That's all, thanks for playing!
      .button.ok get back to it
    

  script(name="box-settings" class="hbs-template" type="text/x-handlebars-template")
    #settings.alert.box.settings
      .header SETTINGS
      .settings-list
        |{{> game-settings}}
      .button.ok ok
  
  script(name="level-overview" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.overview
      |{{#if video}}
      span.ad-bonus-field
        |Multiplier bonus 
        span.ad-bonus-counter after watching preview.
      .video.
        <iframe id="yt-player" class="youtube" width="1280" height="720" src="https://www.youtube.com/embed/{{video}}?controls=1&autoplay=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>  
      |{{else}}
      .video No Preview.
      |{{/if}}
      .text
        .diff {{difficulty}}//
        .name {{name}}
        |{{#level-stats this}}
        |{{/level-stats}}
      .button.play-level(level_id="{{level_id}}")
        |play level
      .button.ok
        |<< go back
  
  script(name="level-stats" class="hbs-template" type="text/x-handlebars-template")
    .fields
      .field Puzzles completed: 
        b {{completed}}
      .field Fewest retries: 
        b {{retry_record}}
      .field Fewest turns: 
        b {{turn_record}}
      .field Fastest time: 
        b {{time_record}}
  
  script(name="remind-shop" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.shop-reminder
      .header SPEND YOUR GIMBLES!
      .info
        |Congrats! You've beaten most of the starter levels. Spend your gimbles to unlock more.
        br
        br
        |Click the 
        span.mock-button.italic spend! 
        |  button in the top left at any time to access the shop. Your active game will be paused.
        br
        br
        |<b><u>IMPORTANT!</u></b> You can play/replay any level you've unlocked by opening up the <b>pause screen</b>, (spacebar or double-tapping), and selecting the level from the <b>level menu</b> in the bottom right. 
      .button.shop
        |proceed to shop!
      .button.ok ok
    
  script(name="contact" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.contact
      .header CONTACT
      .info Please use this form to submit any feedback, report a bug or ask a question. You may provide an email address for our reply.
      .form
        .label email 
        input.email(type='textfield' placeholder='(optional)')
        .label subject 
        input.subject(type='textfield')
        .spacer(style="height:1em")
        .label(style="vertical-align: top;") message
        textarea.message
      .button.submit 
        span(style="color:#0c0;font-size:0.8em;") &#10003;  
        | submit
      .button.ok 
        span(style="color:#c00;") x 
        | cancel
  
  script(name="confirm-restart" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.confirm-restart.help
      .header RESTART LEVEL-PACK?
      .info 
        |Click 'restart' to restart the current level-pack from the first level.
      .button.restart &#x21bb; restart
      .button.ok cancel
    
  script(name="alert-no-webgl" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header WebGL NOT DETECTED
      .info
        .error error: {{error}}
        .message WebGL is either disabled or not supported in this browser. The most recent versions of most major browsers support WebGL, but you may need to upgrade or enable it in settings. We recommend Google Chrome for best performance. 
      .button.reload reload roTopo
      
  script(name="alert-not-signed-in" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header SOMETHING WENT WRONG
      .info
        .error error: {{error}}
        .message The server isn't recognizing your login session. Make sure you have cookies enabled and try reloading.
      .button.reload reload roTopo
  
  script(name="alert-insufficient-funds" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header NOT ENOUGH POINTS
      .info
        .error error: {{error}}
        .message You don't have enough points to purchase that item.
      .button.ok ok
  
  script(name="alert-braintree" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header PAYMENT PROCESSOR OFFLINE
      .info
        .error error: {{error}}
        .message We're having trouble connecting to our payment processor. Please try again later on.
      .button.ok ok
      .button.reload reload roTopo

  script(name="alert-other" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header SOMETHING WENT WRONG
      .info 
        .error error: {{error}}
        .message {{message}}
      .button.ok continue
      .button.reload reload roTopo

  script(name="alert-network" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header SOMETHING WENT WRONG
      .info 
        .error error: {{error}}
        .message We were unable to connect to our login servers. Please try again in a moment.
      .button.reload reload roTopo
  
  script(name="alert-invalid" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header SOMETHING WENT WRONG
      .info 
        .error error: {{error}}
        .message We were unable to process your request because it was not properly formatted.
      .button.reload reload roTopo
  
  script(name="alert-connection" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.error
      .header SOMETHING WENT WRONG
      .info 
        .error error: CONNECTION_ERROR
        .message Connection to the server could not be established. You may be offline or the server may be down for maintenance. Check <span style="font-weight:bold"><a target="_blank" style="color:white" href="https://twitter.com/barkandfester">@barkandfester</a></span> for status updates.
      .button.reload reload roTopo         
  
  script(name="achievements" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.badges
      .badges-star &#9733;
      .badges-label.completionist COMPLETIONIST
      .badges-box
        |{{#each COMPLETIONIST}}
        .badge(class="badge {{@key}}") 
            .table
              .cell
                .badge-text {{text}}
        |{{/each}}
      .button.ok << go back
  
  script(name="manual" class="hbs-template" type="text/x-handlebars-template")
    .alert.box.manual
      .header roTopo MANUAL
      .text-panel
        .section
          .header GAMEPLAY
          .subheader BEATING PUZZLES
          .text
            | Clear puzzles by stepping on every tile exactly once. 
            | Your avatar will begin running when the puzzle starts, and must be steered with the arrow / WASD keys, or by swiping with your finger on mobile devices.
            | Stepping off the puzzle or onto a tile that has already been cleared will reset the puzzle. Some tile moves are invalid, such as when the tile's front side is facing away from you. 
          .subheader GIMBLES
          .text
            | Complete puzzles to earn gimbles, or points, which can be exchanged for new level-packs and avatars in the shop.
            | New avatars may come with special abilities that modify gameplay.
            br
            br
            | The multiplier in the top right corner allows you to earn more gimbles. 
            | Various factors affect your multiplier, including the current winning/losing streak, daily bonuses, watching ads, and avatar-specific factors.
          .subheader LEVELS
          .text
            | Levels are grouped into level-packs.
            | Complete a level-pack by beating all of its levels (around 4 - 7 puzzles), to earn a star on the level menu.
            | When a level-pack is completed, a random level-pack from your shuffle list is automatically started.
            | Current progress within a level-pack is saved temporarily, allowing you to switch between packs or resume the game later without starting over.
            br
            br
            | Click the restart <span class="mock-button">&#x21bb;</span> button or press 'backspace' to restart the current level from the first puzzle.
            br
            | Click the shuffle <span class="mock-button">shuffle</span> button or press 'tab' to play the next level from your shuffle list.
        .section
          .header ACCOUNTS AND SAVE DATA
          .text
            | Click <span class="mock-button">play using facebook</span> or <span class="mock-button">play using google</span> from the main menu to create an account with your preferred service. This will allow you to purchase items in the shop and save your game progress. Please remember which service and account you chose.
            br
            br
            | A unique ID number provided by either Google or Facebook will identify your account. No other information is accessed. 
            br
            br
            | A cookie will be set on your browser after logging in to identify your device. 
            | If the cookie is cleared, click the appropriate play button again to reset it.
            br
            br
            | After registering, all game progress and purchase information will automatically be saved on the server. 
            | The same account may be used across multiple devices, including mobile devices.
            
        .section
          .header PAUSE MENU
          .text
            | Open the pause menu by pressing spacebar, clicking the puzzle indicator in the bottom right, or double-tapping on mobile.
            | Exit the pause menu by clicking/tapping the pause icon or by hitting spacebar again.
          .subheader LEVEL SELECTOR
          .text
            | The level selector in the bottom right of the pause menu allows you to view and play available levels. 
            | Use the selector buttons to display levels based on difficulty or completion status.
            | A shuffle list is formed whenever a selector button is pressed.
            | Click the information button <span class="mock-button">i</span> next to a level-pack name to view your progress and records.
          .subheader SETTINGS
          .text
            | The settings panel in the bottom left of the pause menu allows you to modify graphics, sound and gameplay options. Settings are saved in your browser's local storage.
            | Helpful links including the contact form, terms of service, and manual are also available beneath the settings panel.
          .subheader OTHER
          .text
            | When a level-pack is beaten, various records (eg, number of retries) are saved. Past records and current progress are displayed in the task bars on the left of the pause menu.
            br
            br
            | Your current multiplier and the factors affecting it are displayed in the top right.
        
        .section 
          .header SHOP
          .text
            | Access the shop by clicking the <span class="mock-button italic">spend!</span> button in the top left corner.
            | Your active game will be paused for when you return from the shop.
          .subheader SHOP ITEMS
          .text
            | View more information about the levels and avatars in the shop by clicking the information <span class="mock-button">info</span> button next to each item.
            | In the information panel, you can make purchases and watch video previews, which also award multiplier bonuses.
            br
            br
            | Purchases can be made using gimbles or cash, and will be permanently added to your account. 
            | Items purchased with cash will appear in your shopping cart before checkout. Please review all cart items before paying.
            | Cash payments can be made with PayPal or with any valid credit card. 
            | Consider purchasing the <b>&#9733;level pass&#9733;</b> to unlock all available and future levels.
          .subheader AVATARS
          .text
            | Different avatars come with different visual themes and effects, and may modify the gameplay and multiplier.
            | Once an avatar is purchased, mouse over to the avatar and click <span class="mock-button">use avatar</span> to activate it.
            | Your current avatar will be switched out the next time a puzzle is started. 
            
        .section 
          .header CONTACT
          .text
            | Click the <span class="mock-button">send us a message</span> button from the settings panel to submit any questions and feedback or to report any issues with your account.
            | Please provide an email address for our reply if applicable. Allow a few days for a response.
            | You may also send any emails to barkandfester@gmail.com
      br
      .button.ok OK
      
  script(name="bknfr-footer" class="hbs-template" type="text/x-handlebars-template")
    .footer
      span &copy; bark and fester llc
      br
      a(href = "legal/tos.txt" target="_blank") terms of service
      | //
      a(href = "legal/policy.txt" target="_blank") privacy policy

  script(name="console" class="hbs-template" type="text/x-handlebars-template").
    The roTopo team would like to thank the developers of THREE.js, Node.js, Chrome's V8 compiler, HTML5 and Blender3D for making this game possible.
    
    We'd also like to thank our alpha/beta testers for giving us their time and providing much useful feedback and encouragement.
    Thanks for playing roTopo and happy puzzling.
    
    -Bark and Fester LLC, New York, 2016

    PS: We know you're clever, but humbly request that players refrain from using console commands out of respect for the developers and out of fairness for other players. Game saves made by hacking or cheating are subject to deletion.
    
  script(name="menu" class="hbs-template" type="text/x-handlebars-template")
    img(id="logo" src="/images/logo.png")
    .version v1.0
    .menu-content
      |{{#if MOBILE}}
      img.controls(src="/images/gimble_menu_controls_mobile.png")
      .blue The mobile version of roTopo is in beta.
      br
      |{{else}}
      img.controls(src="/images/gimble_menu_controls.png")
      |{{/if}}
      br
      .auth-buttons(style = 'width:100%')
        .mob-btn.fblogin.button.half.left(tabindex=0) Play using facebook
          //img(src="images/facebook-logo.png")
          img(src="images/fb_icon.png")
        .mob-btn.gglogin.button.half.right(tabindex=0) Loading...
        //  img(src="images/google_icon.png")
      .mob-btn.button.try(tabindex=0) ...or play the demo
      .mob-btn.button.logout(style='display:none' tabindex=0) logout
      .info Register roTopo with your google or facebook account to access the full game and autosave your progress. <span style="font-weight: bold; font-style: italic;">We never collect personal information of any kind, but we do use a cookie to identify your roTopo account.</span> Read more on our terms of service.
      |{{> bknfr-footer}}      

  script(name="login-menu" class="hbs-template" type="text/x-handlebars-template")
    .menu-content
      .login-info
        .header Oh, you need to LOG IN before you can get...
        .text
          .snip
            | <b>200+ NEW LEVELS</b> for weeks of mind-bending 3D challenges, and <b>6 NEW CHARACTERS</b> so you can be the person you've always wanted to be!
          .snip
            |A <b>MULTPLIER BONUS</b> to earn points faster. Be the person you've always wanted to be faster!
          .snip
            |All of your progress <b>AUTO-SAVED</b>. Play at work! Don't do your work. Play at home! Ignore your family.
      .auth-buttons(style = 'width:100%')
        .mob-btn.fblogin.button.half.left(tabindex=0) play using facebook
          //img(src="images/facebook-logo.png")
          img(src="images/fb_icon.png")
        .mob-btn.gglogin.button.half.right(tabindex=0) play using google
          img(src="images/google_icon.png")
      .mob-btn.button.back continue offline demo
      .info Link your facebook or google account so we can save your game progress. We do not collect personal information from our users. Read more on our Terms of Service.
      |{{> bknfr-footer}}   
        
  #view  
    .loading-text(style="font-size:200%; padding:1em;")
    #overlay
    #menu.box
      #loader.text(style="font-size:150%; padding:1em;") (1/3) loading libraries...
    #checkout-layer
    #alerter
    
  - if (mode == "release") {
    script.
      var loader = document.getElementById('loader');
      function getScript(source, callback, fail) {
        var script = document.createElement('script');
        //var prior = document.getElementsByTagName('#view')[0];
        script.async = 1;
        document.body.appendChild(script);
        
        script.onload = script.onreadystatechange = function( _, isAbort ) {
            if(isAbort || !script.readyState || /loaded|complete/.test(script.readyState) ) {
                script.onload = script.onreadystatechange = null;
                script = undefined;

                if(!isAbort) { if(callback) callback(); } else {
                  fail();
                }
            } else {
              fail();
            }
        };

        script.src = source;
      }
      
      handleError = function() {
        loader.innerHTML = 'Error loading. Please try again later.';
      }
      
      getScript('javascripts/libs.js', function() {
        loader.innerHTML = "(2/3) loading game..."
        getScript('javascripts/player.js', function() {
        
          var WB = {APP_MODE: "release"};
          Overlay(WB);
          Puzzle(WB);
          Camera(WB);
          AvatarEffects(WB);
          Visuals(WB);
          
          var menuOptions = {el: $('#view'), networkKeys: !{networkKeys}, gameInfo: !{gameInfo}, content: !{content}}
          
          if (!{loggedIn}) {
            loader.innerHTML = "(3/3) loading user data..."
            $.ajax({
              url : '/api/login',
              method: 'POST',
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.success) {
                  data.content.signedIn = true;
                  menuOptions.content = data.content;
                }
                WB.menu = new WB.Menu(menuOptions);
                
              },
              error: handleError
            });
          } else {
            WB.menu = new WB.Menu(menuOptions);
          }
        }, handleError)
      }, handleError);
  -}
  - else {
    script(src='javascripts/libs/jquery-1.9.0.min.js')
    script(src='javascripts/libs/underscore-min.js')
    script(src='javascripts/libs/backbone-min.js')
    script(src='javascripts/libs/handlebars.js')
    script(src='javascripts/libs/jquery.easing.1.3.js')
    script(src='javascripts/libs/jquery.mousewheel.js')
    script(src='javascripts/libs/three/three.r74.min.js')
    script(src='javascripts/libs/three/stats.min.js')
    script(src='javascripts/libs/three/ColladaLoader2.js')
    
    script(src='javascripts/game/utils.js')
    script(src='javascripts/game/game.js')
    script(src='javascripts/game/gfx.js')    
    script(src='javascripts/player/overlay.js')
    script(src='javascripts/player/puzzle.js')
    script(src='javascripts/player/camera.js')
    script(src='javascripts/player/avatar-effects.js')
    script(src='javascripts/player/visuals.js')
    block run
      script.
        WB = {};
        var loader = document.getElementById('loader');

        var handleError = function() {
          loader.innerHTML = 'Error loading. Please try again later.';
        }
        
        $(window).load(function() {
          WB = {};
          Overlay(WB);
          Puzzle(WB);
          Camera(WB);
          AvatarEffects(WB);
          Visuals(WB);
          
          var menuOptions = {el: $('#view'), networkKeys: !{networkKeys}, gameInfo: !{gameInfo}, content: !{content}}
          
          if (!{loggedIn}) {
            loader.innerHTML = "loading user data..."
            $.ajax({
              url : '/api/login',
              method: 'POST',
              data: {},
              dataType: 'json',
              success: function(data) {
                if (data.success) {
                  data.content.signedIn = true;
                  menuOptions.content = data.content;
                }
                WB.menu = new WB.Menu(menuOptions);
                
              },
              error: handleError
            });
          } else {
            WB.menu = new WB.Menu(menuOptions);
          }
        });
  -}