script(id='oceanVertexShader' type='x-shader/x-vertex').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec3 lightDir;
  varying highp vec4 eyePos;
  varying highp vec3 norm;
  
  void main() {
    newUV = uv;
    worldPos = modelMatrix * vec4(position,1.0);
    eyePos = viewMatrix * worldPos;
    lightDir = normalize((viewMatrix * vec4(0.0, 1.0, 0.0, 0.0)).xyz);  
    gl_Position = projectionMatrix * eyePos; 
    norm = normalMatrix * normal;
  }

script(id='oceanFragmentShader' type='x-shader/x-fragment').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;

  void main() {
    
    highp float distance = length(worldPos);
    //gl_FragColor = vec4(0.125, 0.241, 0.393, clamp(distance / 100.0, 0.0, 0.3));
    gl_FragColor = vec4(0.11, 0.357, 0.478, (1.0 - clamp(distance / 50.0, 0.0, 1.0)) * 0.5);
  }

script(id='gradientFragmentShader' type='x-shader/x-fragment').
  varying highp vec2 newUV;
  varying highp vec4 worldPos;
  varying highp vec3 norm;

  uniform lowp vec3 loColor;
  uniform lowp vec3 hiColor;
  
  lowp vec3 blend(vec3 cola, vec3 colb, float amount) {
    return colb * amount + (cola * (1.0 - amount));
  }
  
  void main() {
    mediump vec3 n = normalize(worldPos.xyz);
    gl_FragColor.rgb = blend(loColor, hiColor, n.y * 0.5 + 0.5);
    gl_FragColor.a = 1.0;
  }