extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/placeholder.css')
  link(rel="icon" href="images/favicon.png" type="image/png")
  link(rel="shortcut icon" href="images/favicon.png" type="image/png")

block scripts		
  script(src='/javascripts/libs/jquery-1.9.0.min.js')
  script(src='/javascripts/libs/underscore-min.js')
  script(src='/javascripts/libs/backbone-min.js')
  script(src='javascripts/libs/handlebars.js')
  script(src='javascripts/game/utils.js')
  script(src='javascripts/game/game.js')
  
block content
  #all(style = "position: fixed; width: 100%; height: 100%; margin:0px; background: #D9E2D8")
    #centered-area
      img(class="promo" src="/images/rotopo_promo.png")
      .text Coming soon. Check <a href="http://bknfr.com">bknfr.com</a> for updates.
  script.
    var audioManager = new GAME.AudioManager();
    audioManager.loadSounds({
      rotopo: {src: "/assets/sounds/rotopo", volume: 25, callback: function() {audioManager.playSound('rotopo');}},
    });
    $('.promo').click(function() {
      audioManager.playSound('rotopo');
    });