script(id='vertexShader' type='x-shader/x-vertex').
  varying lowp vec3 newColor;
  varying highp vec2 newUV;
  varying highp vec3 worldPos;
  varying highp vec3 eyePos;
  varying highp vec3 norm;
  varying highp vec3 modelNorm;
  uniform highp float explodeAmount;
  uniform highp vec3 playerPos;
  
  void main() {
    newColor = color;
    newUV = uv;
    modelNorm = normal;
    highp vec4 wp = modelMatrix * vec4(position,1.0);
    wp.xyz += (normal * explodeAmount * 8.0);
    worldPos = wp.xyz;
    highp vec4 ep = (viewMatrix * wp);
    eyePos = ep.xyz;
    gl_Position = projectionMatrix * ep; 
    norm = normalize(normalMatrix * normal);
  }

script(id='fragmentShader' type='x-shader/x-fragment').
  varying lowp vec3 newColor;
  varying highp vec2 newUV;
  varying highp vec3 worldPos;
  varying highp vec3 eyePos;
  varying highp vec3 norm;
  varying highp vec3 modelNorm;

  uniform int state;
  uniform highp float explodeAmount;

  uniform highp vec3 playerDir;
  uniform highp vec3 playerForward;
  uniform highp vec3 playerRight;
  uniform highp vec3 playerPos;
  uniform highp float cameraDist;
  uniform highp float scale;
  
  //uniform sampler2D tex;
  
  uniform highp float time;
  uniform lowp float AOEffect;
  uniform highp float aliasScale;
  uniform lowp float ghostAlpha;
  uniform lowp vec3 coloredColor;
  uniform lowp vec3 ghostColor;
  uniform int drawWindow;
  uniform int style;
  uniform lowp vec3 nearGradient;
  uniform lowp vec3 farGradient;
  uniform lowp vec3 eyeLight;
  uniform highp vec3 eyePlayer;
  
  lowp float getAOFactor(bool front) {
    //Experimental AO corner shading
    lowp float AOFactor = 1.0;
    lowp float backface = 1.0;
    if (front) {
      backface = 0.0;
    }
    
    if (style == 2 || style == 0 || style == 3) {
      highp float edgeType = floor(255.0 * newColor.b + 0.5);
      highp float temp = mod(edgeType, 3.0);
      lowp float shadeLength = 0.25 * AOEffect;
      lowp float shadeAmount = 0.2 * AOEffect;
      
      if (temp + backface == 2.0 && newUV.y > 1.0 - shadeLength) {
         AOFactor *= (1.0 - shadeAmount) + ((1.0 - newUV.y) / shadeLength) * shadeAmount;
      }
      
      edgeType = floor(edgeType / 3.0);
      temp = mod(edgeType, 3.0);
      if (temp + backface == 2.0 && newUV.x > 1.0 - shadeLength) {
         AOFactor *= (1.0 - shadeAmount) + ((1.0 - newUV.x) / shadeLength) * shadeAmount;
      }
      
      edgeType = floor(edgeType / 3.0);
      temp = mod(edgeType, 3.0);      
      if (temp + backface == 2.0 && newUV.y < shadeLength) {
        AOFactor *= (1.0 - shadeAmount) + ((newUV.y / shadeLength) * shadeAmount);
      }
      
      
      edgeType = floor(edgeType / 3.0);
      temp = mod(edgeType, 3.0);     
      if (temp + backface == 2.0 && newUV.x < shadeLength) {
        AOFactor *= (1.0 - shadeAmount) + ((newUV.x / shadeLength) * shadeAmount);
      }
      
      lowp float expDim = pow(max(explodeAmount, 0.0), 0.1);
      AOFactor = AOFactor * (1.0 - expDim) + expDim;
    }
    return AOFactor;
  }
  
  /*
  lowp vec4 getStyle1Color() {
    highp float borderDistance = min(min(newUV.x, newUV.y), min(1.0 - newUV.x, 1.0 - newUV.y));
    vec4 blank = vec4(0.0, 0.0, 0.0, 0.0);
    mediump float ramp = clamp(-(eyePos.z+cameraDist * 0.5) / 3.0, 0.0, 1.0);

    if (newColor.g > 0.5) {
      if (newColor.g > 0.9) {
        
      } else {
        return blank;
      }
    }
    
    if (borderDistance < 0.005)  return blank;
    else if (borderDistance < 0.03) {
      if (!gl_FrontFacing) {
        if (mod(floor(gl_FragCoord.y / aliasScale), 5.0) < 0.9) {
          return vec4(coloredColor, 1.0);
        } else {
          return vec4(mix(nearGradient, farGradient, ramp), 0.9);
        }
      }
      return vec4(coloredColor, 1.0);
    } else {
      if (newColor.g > 0.9) {
        return vec4(0.99, 0.99, 0.99, 0.8);
      }
      
      if (false && gl_FrontFacing && mod(newUV.x * 200.0, 8.0) < 1.9) {
        return blank;
      } else {
        return vec4(mix(nearGradient, farGradient, ramp), 0.9);
      }
    }
  }*/
  
  void setTileColor(vec3 col, vec3 white, float whiteAlpha, bool front) {
    lowp float windowAlpha = 1.0;
    highp float borderThickness = 0.01;
    lowp float colAlpha = 1.0;

    if (style == 2) borderThickness = 0.008; 
    //else if (style == 3) borderThickness = 0.0;
    
    
    //Window cut
    if (state == 1 && drawWindow == 1 && eyePos.z - eyePlayer.z > 0.0 && dot(normalize(eyePlayer), normalize(eyePos)) > 0.98) {
      windowAlpha = clamp(1.0 - (eyePos.z - eyePlayer.z), 0.2, 1.0);
    }
        
    whiteAlpha *= windowAlpha * windowAlpha;
    colAlpha *= windowAlpha;

    highp float borderDistance = min(min(newUV.x, newUV.y), min(1.0 - newUV.x, 1.0 - newUV.y));
    bool border = borderDistance < borderThickness;
    bool ghost = newColor.g > 0.5;
    bool stepOn = newColor.g > 0.9;
    bool transition = newColor.g > 0.75;
    bool stepOff = !stepOn && transition;        

    if (!front) {
      col *= 0.6;
      colAlpha *= 0.9;
    } 
    
    highp float diag = mod(floor(gl_FragCoord.y / aliasScale) + floor(gl_FragCoord.x / aliasScale), 4.0);   

    if (border) {    
      if (style == 0 || style == 3) {
        gl_FragColor = vec4(white, whiteAlpha);
        if (stepOn) {
          if (diag < 1.5) 
            discard;
        } if (ghost && front && diag < 2.5) {
          discard;
        } else if (ghost && !front && (diag < 1.5 || diag > 2.5)) {
          discard;
        } else if (!ghost) {
          gl_FragColor.a = 0.9 * windowAlpha;
        }

        if(gl_FragColor.a < 0.001) {
          discard;
        }
        return;
      } else if (style == 1 || style == 2) {
        discard;
        return;
      }
    } 
        
    //Ghost Tile
    if (ghost) {
      
        //Error
        if (newColor.r > 0.9) {
          
          if (mod(floor(gl_FragCoord.y / aliasScale), 4.0) < 2.0) {
            discard;
            return;
          } else {
            white *= 0.5;
          }
        } 
      
      if (transition) {
        gl_FragColor = vec4(col, colAlpha);
        lowp vec4 target = vec4(white, whiteAlpha);   
        mediump float a = 1.0;

        lowp float cutoff = 0.3;
        //if (style == 3) cutoff = 0.4;
        
        if (stepOn) { //Stepped on
          a = max(cutoff, (1.0 - time * 3.5));
        } else { //Stepped off
          a = max(0.0, (cutoff - time * 2.0));
        }
        gl_FragColor = mix(gl_FragColor, target, 1.0 - a);
        
      } else {
        if (whiteAlpha < 0.01) discard;
        gl_FragColor = vec4(white, whiteAlpha); 
      }
      
      if (stepOn) {
        if ((ghostAlpha < 0.6 && diag < 1.5) || (diag < 1.0)) 
          discard;
      } else if (front && diag < 2.5) {
        discard;
      } else if (!front && (diag < 1.5 || diag > 2.5)) {
        discard;
      }
      
    //Colored Tile
    } else {
      gl_FragColor = vec4(col, colAlpha * 0.87);
    }
    
        
    if (style != 3 && borderDistance > borderThickness && borderDistance < borderThickness + 0.005) {
      gl_FragColor = mix(gl_FragColor, vec4(white, whiteAlpha), 1.0 - (borderDistance - borderThickness) / 0.005);
    }
  }
  
  void main() {    
    //Discard on blank tile
    
    if (newColor.r < 0.1 && newColor.b < 0.1 && newColor.g < 0.1) {
      discard;
      return;
    }


    bool front = dot(norm, normalize(-eyePos.xyz)) > 0.0;
    lowp float AOFactor = getAOFactor(front);
    
    lowp vec3 col = coloredColor;
    mediump float ramp = clamp(-(eyePos.z + cameraDist - 1.0) / 3.0, 0.0, 1.0);
    
    lowp vec3 white = ghostColor;
    lowp float whiteAlpha = ghostAlpha;
    
    if (style != 3) {
      if (ramp > 0.5) {
        white = mix(white, nearGradient, (ramp - 0.5) * 0.4);
      } else if (ramp < 0.5) {
        white = mix(white, farGradient, (0.5 - ramp) * 0.4);
      }
    }

    mediump float diffuse = dot(norm, eyeLight) * 0.5;

    if (!front) {
      white *= (0.7 + 0.3 * AOFactor) * 0.98 * ((1.1 + diffuse * 0.1));
      whiteAlpha *= 0.7;
    } else {
      white *= (0.5 + 0.5 * AOFactor) * ((1.1 + diffuse * 0.15));
    }
    

    if (style == 0) {
      if (ramp > 0.5) {
        col = mix(col.rgb, farGradient, (ramp - 0.5) * 2.0);
      } else if (ramp < 0.5) {
        col = mix(col.rgb, nearGradient, (0.5 - ramp) * 2.0);
      }
    } else if (style == 1) {
      col = nearGradient;
    } else if (style == 2 || style == 3) {
      col = mix(nearGradient, farGradient, ramp);
    }

    highp float specular = dot(reflect(normalize(eyePos * -1.0), norm), eyeLight * -1.0);
    specular = pow(max(0.0, specular), 4.0);
    
    col = col * (((0.85 + diffuse * 0.15) * AOFactor) * (1.0 + specular * 0.1));
    setTileColor(col, white, whiteAlpha, front);

    //Triangle Shadow
    if ((style == 0 || style == 3) && state != 2 && state != 3 && state < 5 && abs(dot(modelNorm, playerForward)) < 0.5 && abs(dot(modelNorm, playerRight)) < 0.5) {
    //if (style == 0 && state != 2 && state != 3 && state != 5) {
    
      highp vec3 shadowDiff = ((worldPos.xyz - (playerPos)) / (0.09 * scale));
      highp float axisDist = dot(playerForward, shadowDiff);
      highp float dist = length(shadowDiff);
      highp float perpDist = dot(playerRight, shadowDiff);
      highp float slant = (1.0 - axisDist) * 0.35;

      if (dist < 2.0 && axisDist > -1.0 && axisDist < 1.0 && perpDist < slant && perpDist > -slant) {
        gl_FragColor.rgb *= 0.6;
        gl_FragColor.a = 0.8;
      }
    }
    
    //Sphere glow
    
    if (style == 2  && state != 2 && state != 3 && state != 5) {
      highp vec3 shadowDiff = (worldPos.xyz - (playerPos)) / (0.09 * scale);
      highp float dist = length(shadowDiff);
      if (dist < 1.0) {
        gl_FragColor += vec4(0.31,0.97,0.29, 1.0) * (pow((1.0 - dist), 1.0) * 0.75);
        //gl_FragColor -= vec4(1.0,0.5, 0, 0.0) * pow((1.0 - dist), 1.0) * 0.8;
      }
    }
      
    gl_FragColor.a *= (1.0 - explodeAmount);
    if (gl_FragColor.a < 0.01) discard;
  }
  
script(id='sceneryVertexShader' type='x-shader/x-vertex').
  varying highp vec4 eyePos;
  varying highp vec3 norm;
  varying highp vec3 modelNorm;
  varying highp vec3 modelPos;
  uniform highp float explodeAmount;
  uniform highp vec3 playerPos;
  
  void main() {
    modelNorm = normal;
    modelPos = position.xyz;
    eyePos = viewMatrix * modelMatrix * vec4(position,1.0);
    gl_Position = projectionMatrix * eyePos; 
    norm = normalize(normalMatrix * normal);
  }  

script(id='sceneryFragmentShader' type='x-shader/x-fragment').
  varying highp vec4 eyePos;
  varying highp vec3 norm;
  varying highp vec3 modelNorm;
  varying highp vec3 modelPos;

  uniform int drawWindow;
  uniform highp float time;
  uniform highp float aliasScale;
  uniform lowp float failed;
  uniform lowp vec3 nearGradient;
  uniform lowp vec3 farGradient;
  uniform highp float cameraDist;
  uniform highp vec3 playerPos;
  uniform int state;
  uniform lowp vec3 eyeLight;
  uniform highp vec3 eyePlayer;
  uniform int style;
  uniform lowp float opacity;

  void main() {
    mediump float ramp = clamp(-(eyePos.z+ (cameraDist)) / 1.5, 0.0, 1.0);    
    lowp vec3 col = mix(nearGradient, farGradient, ramp);
    highp vec3 eyeUnit = normalize(-eyePos.xyz);
    highp float specular = dot(reflect(eyeUnit, norm), eyeLight * -1.0);
    lowp float diffuse = dot(norm, eyeLight) * 0.5 + 0.5;
    lowp float localShade = max(0.0, (normalize(modelNorm).z));
    
    if(style == 3) {
      highp vec3 playerDir = eyePlayer - eyePos.xyz;
      lowp float playerDiffuse = max(1.0 - length(playerDir) / 1.0, 0.0);
      diffuse = diffuse * 0.1 + playerDiffuse * 0.9;
      
      if (length(playerDir) < 1.0) {
        highp float playerSpecular = dot(reflect(eyeUnit, norm), normalize(playerDir));

        playerSpecular = pow(max(0.0, playerSpecular), 5.0);
        specular = pow(max(0.0, specular), 5.0);

        specular = max(specular, playerSpecular);
        specular = playerSpecular * playerDiffuse;
      } else {
        specular = 0.0;
      }
      col.rgb = col.rgb * (( 0.6 + diffuse * 0.45) * (0.75 + localShade * 0.25) * (1.0 + specular * 0.5));
      gl_FragColor = vec4(col, (0.75 + (specular) * 0.25));    
    } else {
      specular = pow(max(0.0, specular), 5.0);
      col.rgb = col.rgb * (( 0.85 + diffuse * 0.15) * (0.75 + localShade * 0.25) * (1.0 + specular * 0.13));
      gl_FragColor = vec4(col, (0.85 + (specular) * 0.15));     
    } 


    gl_FragColor = vec4(col, (0.85 + (specular) * 0.15));    

    

    
    //Borders
    
    if (modelPos.z > 0.2 && style != 3) {
      gl_FragColor.rgb *= 0.75;
    } else if(abs(modelPos.x) > 0.975 || abs(modelPos.y) > 0.975) {
      gl_FragColor.rgb *= 0.6;
      gl_FragColor.a = 1.0;
    }  
    
    if (modelPos.z < 0.01) {
      gl_FragColor.rgb *= 0.6;
    }
        
    //Window cut
    if (state == 1 && drawWindow == 1 && eyePos.z - eyePlayer.z > 0.3 && dot(normalize(eyePlayer), normalize(eyePos.xyz)) > 0.98) {
      gl_FragColor.a = clamp(1.0 - (eyePos.z - eyePlayer.z), 0.2, 1.0);
    }
    
    gl_FragColor.a *= opacity;
    
  }