body, div{
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
} 

body {
  font-family: Impact, 'Oswald', 'Arial Black';
  background: #CCF2FF;
  color: red;
}

body.alt1 {
  background: #CCFFD3;
  color: #DE01FF;
}

body.alt2 {
  color: #0DE201;
  background: #FFFDCC;
}

body.alt3 {
  color: white;
  background: black;
}

body.alt4 {
  color: black;
  background: white;
}

#content {
  padding-bottom: 10em;
}

#logo {
  white-space: nowrap;
  margin: 0.08em 0 0 0;
  font-size: 11em;
  line-height:75%;
}

.divider {
  width: 100%;
  height: 2em;
  background: red;
}

.games {
  margin-top: 4em;
  width: 100%;
  
  .game {
    width: 100%;
    height: 8em;
    background: gray;
    cursor: pointer;
    
    &:hover {
      background:white;
    }
  }
}

#footer {
  font-size: 2.5em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  * {
    display: inline-block;
    margin: 0 8%;
  }
  
}