body, div {
  margin: 0px;
  padding: 0px;
}

a {
  color: #E06B6E;
  text-shadow: 1px 1px 0px #453048;
  text-decoration: none;
  font-weight:bold;
}

#centered-area {
  width: 100%;
}

.text {
  position: absolute;
  z-index: 4;
  font-family: courier, monospace;
  font-size: 1.4em;
  margin: 5px;
}

.promo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -282px;
  margin-top: -323px;
  cursor: pointer;
}