@DEFAULT_PURPLE: #453048;
@LINE_COLOR: @DEFAULT_PURPLE;
@TEXT_COLOR: #fff;
@BACKGROUND_COLOR: #d9e2d8; /* vestigial */
@POINTS_COLOR: #FBFF9D; /* item gimble cost */
@CASH_COLOR: #a1dcef; /* item cash cost */
@CHECKOUT_LINE_TEXT_COLOR: #45acd8; /* checkout button text color */
@CHECKOUT_LINE_COUNT_COLOR: #45acd8;
@LINE_FADE_COLOR_DEFAULT: rgba(69,48,72,0.7);
@LINE_FADE_COLOR: rgba(69,48,72,0.7);
@HALF_BUTTON_COLOR: #a88fa8; /* what */
@LEVEL_MENU_BG_COLOR: rgba(235, 235, 235, 0.5);
@LEVEL_MENU_TEXT_COLOR: #000; /* USED FOR LEVEL MENU TEXT AND SETTINGS OPTIONS TEXT */
@SETTINGS_LINE_BG_COLOR: #949494;
@MULTIPLIER_TEXT_COLOR: #fff;
@LEVEL_MENU_PREVIEW_BG_COLOR: rgba(69, 48, 72, 0.23); /*can discard, using default purple */
@REWARD_BAR_BG_COLOR: #F3EEA8;
@REWARD_BAR_TEXT_COLOR: @DEFAULT_PURPLE;
@TEXT_HIGHLIGHT_COLOR: #ccc;

::selection {
  background: @TEXT_HIGHLIGHT_COLOR;
}
::-moz-selection {
  background: @TEXT_HIGHLIGHT_COLOR;
}

body {
  background: @BACKGROUND_COLOR;
}

.italic {
  font-style: italic;
}

body, div {
  padding: 0;
  margin: 0;
  font-family: courier, monospace;
}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
  font-size: 130%;
}

@-webkit-keyframes GLOW {
  0%   { opacity: 1; }
  50%  {opacity: 0.4; }
  100% { opacity: 1; } 
}

@keyframes GLOW {
  0%   { opacity: 1; }
  50%  {opacity: 0.4; }
  100% { opacity: 1; } 
}

.glow {
  -webkit-animation: GLOW 1s infinite;
  animation: GLOW 1s infinite;  
}

.blue {
  color: #0042FF;
}

.absolute(@top, @left) {
  position: absolute;
  top: @top;
  left: @left;
}

#view {
  position: fixed;
  width: 100%;
  height: 100%;
  background: @BACKGROUND_COLOR;
  top: 0;
  left: 0;
  font-size: 12pt;
  
  &.mobile .mob-btn {
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
}

/* Shop Checkout overlay. Includes Shop Preview Popups. */
#checkout-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  
  .box.description {
    text-align: left;
    width: 57em;
    margin-left: -28.5em;
    
    .ad-bonus-field {
      position: absolute;
      margin-left: 1em;
			margin-top: 21em;
			font-weight: bold;
			color: #000;
    }
    
    .video {
      width: 35em;
      height: 19.6875em;
      background: black;
      display: inline-block;
      margin: 1em;
      vertical-align: top;
      color: #ddd;
      text-align: center;
    }
    
    .preview-image {
      width: 20em;
      height: 20em;
      margin: 1em;
      vertical-align: top;
      display: inline-block;
      margin-left: 10em;
    }
    
    .text {
      margin: 1em 1em 1em 0;
      width: 15em;
      vertical-align: top;
      text-align: left;
      display:inline-block;
			font-size: 1.2em;
      .name {
        font-weight: bold;
				font-size: 1.3em;
				padding-bottom: 0.5em;
        
        .num-puzzles {
          font-size: 0.75em;
          color: #555;
        }
      }
			.multiplier {
				font-size: 0.9em;
			}
			.speed {
				font-size: 0.9em;
			}
			.mod {
				font-size: 0.9em;
				margin-bottom: 1em;
			}
      .description {
        font-size: 0.9em;
      }
      .source {
				font-size: 0.9em;
				font-weight: bold;
				margin-top: 1em;
			}
    }
    
    .pointpurchase {
      color: @POINTS_COLOR;
			margin-top: 1em;
    } 
    
    .cashpurchase {
      color: @CASH_COLOR;
    }
		
		.button {
			margin-bottom: 0.5em;
			margin-top: 1em;
		}
		.back {
			margin-top: 1em;
		}
  }
  
  .checkout-area {
    position: fixed;
    top: 10em;
    left: 50%;
    margin-left: -25.5em;
    width: 51em;
  
    .box {
      margin: 0;
      padding: 1.25em;
      padding-top: 0;
      
      .header {
        color: @CHECKOUT_LINE_TEXT_COLOR;
      }
    }
  
  }
  
  .box.cart-review {
    position: relative;
    top: 0;
    left: 0;
    width: 20em;
    max-height: 30em;
    
    .item-list {
      max-height: 20em;
      overflow-y: auto;
      text-align: left;
      
      .items {
        
        .cart-item {
          height: 3.5em;
          
          .spacer { 
            display: inline-block;
            height: 0.8em;
          }
          
          .remove {
            color: #f24242;
            font-size: 0.8em;
            display: inline;
            cursor: pointer;
          }
          
          .cost {
            float: right;
          }
          
          .name {
            border-top: 1px solid #c4c4c4;
            margin-right: 1em;
          }
        }
      
      }
    }
    
    .total {
      font-size: 1.5em;
      font-weight: bold;
      padding-top: 1em;
      border-top: 1px dashed #C4C4C4;
      
      .blue {
        color: @CHECKOUT_LINE_TEXT_COLOR;
      }
    }
  }
  
  .box.cart-total {
    position: relative;
    left: 0;
    top: 3em;
    width: 20em;
    height: 6.8em;
  }
  
  .box.cart-checkout {
    
    width: 25em;
    position: absolute;
    left: 26em;
    top: 0;
    
    .button {
      width: 21.13em;
      margin-left:-0.92em;
      
      &.submit {
        border: none;
        background: @CHECKOUT_LINE_TEXT_COLOR;
        color: white;
        margin-top: 0.6em;
        height: auto;
        font-family: courier, monospace;
        display: none;
      }
    }
  }
}

#alerter {
  display: none;
  z-index: 200;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('/images/checker_reverse.png');

  .alert {
    &.error {
      background: #bd5d5d;
      color: #fff;  
			.info {
				color: #fff;
			}
      .button {
        background: white;
				color: @DEFAULT_PURPLE;
      }
    }
    
    .mock-button {
      color: #fff;
      background: @LINE_COLOR;
      display: inline-block;
      padding: 0.1em 0.4em;
			font-weight: bold;
    }
    
    &.badges {
      margin-top: -20em; 
      margin-left: -25em;
      width: 50em;
      
      .badges-label {
        width: 40%;
        text-align: right;
        color: white;
        background: @LINE_COLOR;
        margin-top: 2em;
        padding: 0.2em 0.5em 0.2em 0;
				font-size: 1.3em;
				font-weight: bold;
      }
      .badges-star {
				z-index: -1;
				width: 5em;
				position: absolute;
				font-size: 10em;
				margin-top: -0.5em;
				margin-left: -0.9em;
				opacity: 0.7;
			}
      .badges-box {
        overflow-y: auto;
        height: 20em;
        margin-top: 1.5em;
        
        .badge {
          width: 8.5em;
          height: 8.5em;
          margin: 0 1em 1em 0;
          background: rgba(69,48,72,0.85);
          display: inline-block;
          vertical-align: top;
          font-weight: bold;
          color: white;
          
          &.done {
            .table {
              background: url('/images/checker_reverse.png');
            }
          }
          
          .table {
            display: table;
            height: 8.5em;
            width: 8.5em;
            
            .cell {
              display: table-cell;
              vertical-align: middle;
              padding: 0.5em;
            }
          }
          
          &.ALL_EASY, &.PERFECT_EASY {
            color: #a6f29e;
          }
          
          &.ALL_INTERMEDIATE, &.PERFECT_INTERMEDIATE {
            color: #edec71;
          }
          
          &.ALL_ADVANCED, &.PERFECT_ADVANCED {
            color: #f3cb67;
          }
          
          &.ALL_INSANE, &.PERFECT_INSANE {
            color: #ed7171;
          }
        }
      }
			&.vertical {
				width: 30em;
				margin-left: -15.5em;
				margin-top: -25em;
				height: 48em;
				.badges-box {
					height: 38em;
					margin-bottom: 0.5em;
				}
				.badges-star {
					margin-left: -1.6em;
				}
			}
    }
    
    
		/* Contact Form */ 
    &.contact {
			.header {
				padding: 1em 0em 0em 0em;
			}
			.submit {
				//font-size: 0.8em;
			}
    }
    
		/* Login reminder popup */
    &.shop-reminder {
      .info {
        font-size: 1.3em;
        padding: 0em 1em 1em 1em;
      }
    }
    
    &.help {
      .info {
        font-size: 1.3em;
      }
    }
    
    &.tutorial {
      .info {
        font-size: 1.3em;
      }
      
      &.levels {
        top: auto;
        left: auto;
        right: 0;
        bottom: 8em;
      }
      
      &.level-menu {
        top: auto;
        left: auto;
        right: 0;
        bottom: 0;
      }
      
      &.multiplier {
        left: auto;
        right: 0;
        top: 10em;
        margin: 0;
      }
      
      &.records {
        left: 0;
        top: 20em;
        margin: 0;
      }
      
      &.spend {
        left: 0;
        top: 7em;
        margin: 0;
      }
      
    }
    
    /* Manual */
    &.manual {
      
      &.vertical .text-panel {
        height: 40em;      
      }
      
      &.horizontal .text-panel {
        height: 30em;
      }
      
      
      .text-panel {
        overflow-y: auto;
        
        .section {
          border: 1px dotted #ccc;
          .subheader {
            text-align: center;
            font-weight: bold;
          }
          
          .text{ 
            text-align: left;
            margin: 1em;
          }
        }
      }
    }
    
		/* Level preview popup */
    &.overview {
      width: 54.5em;
      margin-left: -27.25em;
			text-align: left;
      .header {
				
			}
			
			.text {
				margin: 1em 1em 1em 1em;
				width: 13em;
				vertical-align: top;
				text-align: left;
				display:inline-block;
				font-size: 1.2em;
				.diff {
					font-weight: bold;
					font-size: 1.3em;
					opacity: 0.6;
				}
				.name {
					font-weight: bold;
					font-size: 1.3em;
					padding-bottom: 0.5em;
				}
				.fields {
					font-size: 1em;
					.field {
						margin-bottom: 0.5em;
					}
				}
			}
			
			.ad-bonus-field {
        position: absolute;
        top: 21em;
				margin-left: 1em;
				font-weight: bold;
				color: #000;
      }
			
      &.vertical {
        width: 33em;
        margin-left: -16.5em;
        .fields {          
          //display: block;
          //text-align: center;
        }
      }
      
      .video {
        width: 35em;
        height: 19.6875em;
        background: black;
        display: inline-block;
        margin: 1em 0em 1em 1em;
        vertical-align: top;
        color: #ddd;
        text-align: center;
      }
			
			.button {
				margin-top: 1em;
				margin-bottom: 1.2em;
			}
    }
    
    &.settings {
      width: 40em;
      margin-left: -20em;
      
      .header {
        font-size: 2em;
      }
      
      .settings-list {
        margin: 0.5em;
        text-align: left;
        font-size: 1.75em;
        line-height: 2em;
        
        .option:hover {
          color: black;
        }
        
        .footer .button {
          font-size: 1em;
          margin: 0px;
          
          &.contact-us {
            margin-bottom: 1em;
          }
        }
      }
      
      .options {
        display: inline-block;
      
        .option {
          cursor: pointer;
        }
        
        .option.selected {
          font-weight: bold;
          color: black;
        }
      }
    }
    
       
    .form {
      margin-bottom: 1em;
      width: 40em;
      
      .label {
        font-weight: bold;
        font-size: 1.2em;
        display:inline-block;
        width: 7em;
        text-align: right;
        margin-right: 1em;
        vertical-align: middle;
      }
      
      input {
        margin: 0.3em 0.3em;
      }
      
      input, textarea {
        vertical-align: middle;
        width: 28em;
        background: #EBEBEB;
        border: none;
        padding: 0.5em;
        font: 1em arial;
      }
      
      textarea {
        height: 10em;
        resize: none;
        margin-bottom: 0.4em;
      }
      
      
    }
    
    .info {
      text-align: left;
      .error {
        font-size: 1em;
      }
      
      .message {
        font-size: 1.1em;
      }
      padding: 1em 2em;
    }
    
    .button {
      color: white;
      background: @LINE_COLOR;
    }
  }
}

#overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  color: @TEXT_COLOR;
  font-size: 1.5em;
	
	.checker-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/images/checker_reverse.png');
		opacity: 1;
	} 
  
  .level-star {
    color: @LINE_COLOR;
  }
  
  .fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/checker.png');
    opacity: 0.4;
  }
  
  .pause-button {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6em;
    height: 10em;
    margin-top: -6em;
    margin-left: -3em;
    cursor: pointer;
    &:hover, &:active {
      .bar {
        background: transparent;
        box-shadow: none;
        width: 1px;
        height: 1px;
        border: 5em solid transparent;
        transition: none;
        &.left {
          border-left: 8em solid white;
          z-index: 11;
        }
        &.right {
          border-left: 8em solid rgba(0, 0, 0, 0.5);
          left: 0.5em;
          top: 0.5em;
          z-index: 10;
        }
      }
      &:active {
        .bar {
          &.left {
            left: 0.4em;
            top: 0.4em;
          }
        }
      }
    }
    .bar {
      background: white;
      width: 2em;
      height: 10em;
      position: absolute;
      top: 0;
      box-shadow: 0.5em 0.5em 0em 0em rgba(0, 0, 0, 0.5);
      transition: 0.1s;
      &.left {
        left: 0;
      }
      &.right {
        left: 4em;
      }
    }
  }
  .button.all{
    color: #8c8c8c;
    &:hover {
      color: black;
    }
  }
  .button.easy {
    color: #a6f29e;
  }
  .button.intermediate {
    color: #edec71;
  }
  .button.advanced {
    color: #f3cb67;
  }
  .button.insane {
    color: #ed7171;
  }
  .button {
    color: white;
    background: @LINE_COLOR;
    display: inline;
    padding: 0.2em 0.3em;
    margin: 0.1em;
    cursor: pointer;
  }
  .button:hover {
    background: @LINE_FADE_COLOR_DEFAULT;
  }
    
  #shop {
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    
    .shop-ad {
      position: fixed;  
      top: 0.8em;
      right: 0.8em;
      width: 468px;
      height: 60px;
      text-align: center;
      cursor: pointer;
      background-image: url('/images/shop/shop_backup.png');
			box-shadow: 0.3em 0.3em 0 0 rgba(69, 48, 72, 0.75);
    }
    
    .line {
      width: 100%;
      margin-top: 6em;
      overflow-y: auto;
			max-height: 100%;
			.shop-section {
				background: @LEVEL_MENU_BG_COLOR;
				border-top: 1px dotted @DEFAULT_PURPLE;
				border-bottom: 1px dotted @DEFAULT_PURPLE;
				&.avatars {	
					margin-top: 1.5em;
				}
				.button {
					font-weight: bold;
				}
        
        .button.selected {
          opacity: 0.75;
        }
        
				.avatar, .levels {
					/*border: 1px dotted @DEFAULT_PURPLE;*/
				}
			}
    }
  
    .button {
      margin: 0 0.2em 0 0;
    }
    
    .shop-list {
      white-space:nowrap;
			overflow-x: auto;
			overflow-y: hidden;
      
      height: 9em;
      width:100%;
      margin: 1em 0 0 0;
      padding-bottom: 1em;
      .shop-list-spacer {
        display: inline-block;
        width: 2em;
      }
      
      .shop-item-ad {
				margin-left: 0.5em;
				margin-right: 0.5em;
        background-size: 100% 100%;
        display: inline-block;
        transform: scale(0.9,0.9);
        transform-origin: 0 0;
        cursor: pointer;
        position: relative;
     
        iframe {
          box-shadow: .3em .3em 0 0 rgba(69,48,72,0.75);
        }
      }
      
      .shop-item {
        display: inline-block;
        margin: 0 2.5em 0 0.5em;
        background-size: 100%;
        width: 8em;
        height: 8em;
        vertical-align: top;
        position: relative;
				border-left: 1em solid transparent;
				background-repeat: no-repeat;
        
        .premium-star {
          position: absolute;
          width: 4em;
          top: 0em;
          right: 0em;
        }
        
        &.levels.levelhide {
          display: none;
        }
        
        .preview {
          display: inline-block;
          color: #FFF;
          background: #453048;
          font-weight: bold;
          cursor: pointer;
          font-size: 0.8em;
          margin-bottom: 0.2em;
          margin-right: 0.2em;
          padding: 0.2em 0.3em 0.2em 0.3em;
        }
        
        .name {
          background: @LINE_FADE_COLOR;
        }

        .difficulty {
					font-weight: bold;
        }
				
        .easy {
					color: #a6f29e;
				}
				.intermediate {
					color: #edec71;
				}
				.advanced {
					color: #f3cb67;
				}
				.insane {
					color: #ed7171;
				}
        
        &.levels {
          background-image: url('/images/shop/levels/default.jpg');
				
          &.purchased {
            .info {
              display: block;
            }
            
            .costs {
              display: none;
            }
          }
        }
				&.avatar {
					margin-right: 1em;

          &.purchased {
            .costs {
              display: none;
            }
          }
         
				}

        &.active{
          .info {
            display: block;
          }
          
          .costs {
            display: none;
          }
        }
        
				/* Item details no hover */
        .info {
          display: none;
          .absolute(1em,-1em);
          width: 100%;
          
          .descrip {
            /*cursor: pointer;*/
          }

          .use-avatar {
            position: relative;
            top: 1em;
            color: @POINTS_COLOR;
          }
          
          .purchase-points {
            margin: 0.6em 0;
            
            .pointpurchase {
              color: @POINTS_COLOR;
            }
            
            .pointprice {
              background: @LINE_FADE_COLOR_DEFAULT;
              color: @POINTS_COLOR;
            }
          }
          
          .purchase-cash {
            margin: 0.6em 0;
            .cart-checkout {
              color: @CASH_COLOR;
            }
            .cashpurchase {
              color: @CASH_COLOR;
            }
            .cashprice {
              background: @LINE_FADE_COLOR_DEFAULT;
              color: @CASH_COLOR; 
            }
          }
        }
        
				/* Item details with hover */
        .costs {
          position: absolute;
          text-align: center;
          width: 100%;
          top: 0;
          left: 0;
          padding-top: 2.5em;
          
          .point-cost {
            color: @POINTS_COLOR;
            font-weight: bold;
            font-size:2em;
            text-shadow: 0 0 0.5em black, 0 0 0.5em rgba(0, 0, 0, 0.2);
          }
        
          .cash-cost {
            color: @CASH_COLOR;
            font-weight: bold;
            font-size: 1.75em;
            text-shadow: 0px 0px 0.4em black, 0 0 0.25em rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  
  #settings {
    position: fixed;
    left: 0;
    bottom: 0;
    color: @LEVEL_MENU_TEXT_COLOR;
    display: none;
    &.condensed {
      .settings-list {
        display: none;
      }
      .header {
        font-size: 1.5em;
        padding-top: 0.3em;
        padding-bottom: 1em;
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
    .header {
      color: white;
      background: @SETTINGS_LINE_BG_COLOR;
      padding: 0 0.2em 0 30px;
      display: inline;
      text-align: right;
    }
    .footer {
      margin-top: 0.7em;
			a:visited, a:link {
				color: @LINE_COLOR;
				font-weight: bold;
			}
      .button {
        margin: 0.5em 0 0 2em;
        font-size: 0.8em;
				font-weight: bold;
        display: inline-block;
        &::before {
          position: absolute;
          left: 0em;
          width: 1.75em;
          margin-top: -0.2em;
          background: @DEFAULT_PURPLE;
          display: inline-block;
          height: 1.53em;
          content: "  ";
          vertical-align: top; 
        }
				&.contact-us {
					margin-bottom: 1em;
				}
      }
    }
    .setting {
      margin: 0.3em 0.3em 0.3em 30px;
      font-size: 0.7em;
    }
    .options {
      display: inline-block;
      .option {
        cursor: pointer;
      }
      .option.selected {
        font-weight: bold;
        color: black;
				text-decoration: underline;
      }
    }
  }
  #multiplier {
    position: fixed;
    top: 1.3em;
    right: 1.5em;
    text-align: right;
    .display {
      line-height: 1em;
      font-family: Lucida Sans Unicode;
      font-size: 3em;
      color: @MULTIPLIER_TEXT_COLOR;
      text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.1); 
			.x-symbol {
				font-size: 1em;
				font-weight: bold;
			}
    }
    .factor-list {
      color: @MULTIPLIER_TEXT_COLOR;
			font-size: 0.9em;
    }
  } 
  #level-menu {
    position: fixed;
    right: 0;
    bottom: 5em;
    height: 50%;
    color: @LEVEL_MENU_TEXT_COLOR;
    width: 23em;
    font-size: 0.8em;
    background: @LEVEL_MENU_BG_COLOR;
    z-index: 100;
    padding: 1em 0 0 1em;
		border-top: 1px dotted @DEFAULT_PURPLE;
		border-left: 1px dotted @DEFAULT_PURPLE;
		border-bottom: 1px dotted @DEFAULT_PURPLE;
    .selectors {
      display: table-row;
      width: 100%;
      height: 2.5em;
      .selector {
        cursor: pointer;
        padding: 0.1em 0.2em;
        display: inline-block;
        margin: 0.1em;
				font-weight: bold;
        &.selected {
          opacity: 0.75;
        }
      }
    }
    .levels {
      width: 100%;
      height: 100%;
      .levels-container {
        font-size: 1.1em;
      }
      overflow-y: scroll;
      .levels-container {
        padding-top: 0.8em;
        
        .button.shop {
					float: left;
					margin: 0.3em 0 0.4em 0;
					font-weight: bold;
        }
      }
      .preview {
        display: inline-block;
        position: relative;
        color: #FFF;
        background: @DEFAULT_PURPLE;
        font-weight: bold;
        padding: 0.1em 0.3em 0 0.3em;
        cursor: pointer;
        margin-right: 0.1em;
        line-height: 1.1em;
        &:hover {
          background: @LINE_FADE_COLOR_DEFAULT;
        }
      }
      .level {
        padding: 0.4em;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 0.4em;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  .line {
    color: @TEXT_COLOR;
    position: fixed;
    .subline {
      font-size: 0.8em;
      margin-top: 0.6em;
    }
    .reward-bar {
      background: @REWARD_BAR_BG_COLOR;
      line-height: 1.2em;
      opacity: 0;
      overflow: hidden;
      text-align: right;
      margin-top: -0.1em;
      padding: 0.15em 0.2em 0 0;
      color: @REWARD_BAR_TEXT_COLOR;
      display: inline-block;
      smaller {
        font-size: 0.8em;
        opacity: 0.8;
      }
    }
    .reward-text {
      position:relative;
      top: -0.5em;
      left: 0.7em;
      color: @REWARD_BAR_TEXT_COLOR;
      display: inline-block;
      font-size: 0.7em;
    }
    &.gimbles {
      left: 0px;
      top: 2.3em;
      line-height: 1.7em;
      z-index: 6;
      .line-section {
        margin-right: 0.1em;
      }
      #cart-count {
        color: @CHECKOUT_LINE_COUNT_COLOR;
				font-weight: bold;
      }
      .cart-checkout {
        color: @CASH_COLOR;
      }
      .tasks {
        position: absolute;
        top: 4em;
        .line-section {
					position: relative;
					font-size: 0.8em;
					margin-top: 0.5em;
          .current {
            color: #ee4e4e;
            &.ahead {
              color: #56ee4e;
            }
          }
        }
        
        .button.badges {
          font-size: 0.8em;
        }
        
        &.condensed {
          .line-section {
            span {
              display: none;
            }
            &.animating {
              span {
                display: inline;
              }
            }
            padding-left: 0.5em;
            
          }
          
          .badges {
            display: none;
          }
        }
      }
    }
    &.levels {
      right: -10px;
      bottom: 2.3em;
      z-index: 51;
      .line-section {
        padding: 0.2em 2em 0.2em 0.3em;
        margin-left: 0.1em;
      }
    }
    .line-section {
      background: @LINE_COLOR;
      display: inline;
      padding: 0.2em 0.3em 0.2em 2em;
      &.ad {
        color: @POINTS_COLOR;
        padding: 0.2em 0.3em;
      }
      &.plain {
        padding: 0.2em 0.3em 0.2em 0.4em;
        margin: 0 0.1em;
      }
      &.basic {
        color: white;
        display: inline-block;
        font-size: 0.8em;
        margin-bottom: 0.2em;
        padding: 0.2em 0.3em;
        background: @LINE_FADE_COLOR;
        &.name {
          background: @LINE_COLOR;
        }
      }    
      &.leveldisplay {
        cursor: pointer;
				padding-right: 2em;
        &:hover {
          background: @LINE_FADE_COLOR;
        }
      }
    }
		.button {
			font-weight: bold;
      
      &.icon, {
        font-weight: bold;
      }
			&.shuffle {
				font-size: 1.0em;
			}
		}
    
    #gimbles {
      color: @POINTS_COLOR;
			font-weight: bold;
    }
  }
}
.box {
  position: fixed;
  width: 43.7em;
  box-shadow: 0.6em 0.6em 0 0 rgba(69, 48, 72, 0.75);
  left: 50%;
  margin: -23em 0 0 -21.85em;
  top: 50%;
  z-index: 11;
  color: @LINE_COLOR;
  text-align: center;
  background: white;
  .header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.2em 0 0.8em 0;
  } 
  .text {
    font-size: 1.3em;
    margin: 2em 1em;
    .snip {
      margin: 1em 2em;
    }
  }
  .footer {
    text-align: center;
    line-height: 125%;
    margin: 1em 0;
  }
  @keyframes button-hover {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
  }
  .button {
    cursor: pointer;
    width: 100%;
    background: @LINE_COLOR;
    color: white;
    margin-bottom: 1em; 
    text-align: center;
    padding: 0.25em 0 0.35em 0;
    height: 1em;
    font-size: 1.3em;
    font-weight: bold;
    &.half {
      width: 42%;
      background: @HALF_BUTTON_COLOR;
      display: inline-block;
      &.right {
        padding-left: 7%;
      }

      &.left {
        padding-right: 7%;
      }
    }
    &:hover {
			animation: button-hover 0.5s linear;
    }
  }
}
#menu {
  #logo {
    position: absolute;
    top: -6em;
    left: 0;
    width: 22.75em; 
  }
	.version {
		color: @LINE_COLOR;
		font-size: 140%;
		font-weight: bold;
		position: absolute;
		top: -1.7em;
		left: 17em;
		text-shadow: 0.06em 0.06em rgba(69, 48, 72, 0.75);
  }
  &.box {
		width: 46em;
		margin-left: -23em;
	}
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
  .login-info {
    color: #4e4e4e;
  }
  .fb-area {
    margin: 0em 7em;
    padding: 1em;
    background: #ddddea;
  }
  .info {
    margin: -1em 1em;
    font-size: 0.8;
    text-align: center;
    user {
      font-size: 1.1em;
      font-weight: bold;
    }
    &.error {
      font-weight: bold;
      color: red;
    }
  }
  .controls {
    margin: 1em 0em 1em 1.5em;
    width: 35.3em;
  }
  .button.play {
    display: none;
    margin-top: 1em;
  }
  
  .auth-buttons {
    height: 3em;
  }
  
  .button {    
    &.try {
      margin-bottom: 0.7em;
    }
    &.logout {
      background: #a88fa8;
      margin-bottom: 1em;
    }
    &.gglogin {
     //background: #D67575;
		 background: transparent;
     position: relative;
     color: black;
		 text-align: left;
		 float: right;
     margin-top: -0.5em;
		 margin-bottom: 0.5em;
		 img {
       width: 1em;
			 position: absolute;
			 float: right;
			 right: 1em;
       top: 50%;
       margin-top: -0.5em;
		 }
    }
    &.fblogin {
      position: relative;
      //background: #7593D6;
			background: #ab95ae;
			text-align: right;
			float: left;
			margin-bottom: 0.5em;
      img {
        width: 1em;
        position: absolute;
        left: 1em;
        top: 50%;
        margin-top: -0.5em;
      }
    }
  }
	.footer {
		margin-top: 2em;
		a:visited, a:link {
			color: @DEFAULT_PURPLE;
			font-weight: bold;
		}
	}
	.menu-content {
		.info {
			font-size: 0.9em;
			margin: 0em 4em;
		}
	}
  
  .ad {
    position: absolute;
    margin-top: 2em;
    left: 50%;
    //margin-left: -419px;
    //width: 838px;
    margin-left: -364px;
    
    height: 110px;
		//box-shadow: 0.6em 0.6em 0 0 rgba(69, 48, 72, 0.75);
    
    .wrap_left {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      height: 110px;
    }
    
    .wrap_top {
      position: absolute;
      left: 110px;
      top: 0;
      height: 20px;
      width: 728px;
      text-shadow: 2px 2px 2px #111;
      font-family: arial;
      color: #fff;
      text-align: left;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 1px;
    }
    
    .unit {
      position: absolute;
      top: 20px;
      left: 110px;
      width: 728px;
      height: 90px;
      background-image: url("/images/menu/amzn/backup_prime.png");
      cursor: pointer;
    }
  }
  
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,0);
}
/*
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}
*/
::-webkit-scrollbar-thumb {
	background: rgba(69,48,72,1);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(69,48,72,0.5);
}
